In [3]:
import pandas as pd
import os

In [4]:
pd.read_csv('inference_results/묵호,울릉,운항_ner.csv')

,Date,Time,Location,Work,Event
0,2016년 5월 8일,12 : 55,울릉 도 도동항 ( [SEP] 선외 [SEP] 경북운항관리센터 울릉사무소 에 [SE...,계류색 조정 작업 [SEP] 선외 유출유 방제작업 을 [SEP] 방제작업 이 [SE...,묵호→울릉 항로를 운항하는 S호가 2016년 5월 8일 12:55 울릉도 도동항(N...

In [65]:
file_list = os.listdir('./inference_data')
file_path = []
for file_name in file_list:
    tmp_path = os.path.join('./inference_data', file_name)
    file_path.append(tmp_path)
file_path.sort()

load_df = lambda x: pd.read_csv(x)
dfs = [load_df(x) for x in file_path]
data = pd.concat(dfs).reset_index(drop=True)
data.dropna(inplace=True)

In [66]:
keyword = '묵호 울릉 운항'

In [67]:
keywords = keyword.split(' ')

word_isins = []
for word in keywords:
    word_isin = data.Event.str.contains(word, case=False, regex=True).to_frame()
    word_isins.append(word_isin)
search_result = pd.concat(word_isins, axis=1)
infer_data = data[search_result.all(axis=1)]

In [68]:
len(infer_data)

1

In [ ]:
sub_org = crawling_trg.split(query)[0].strip()
search_sub_org = crawled_news_df.content.str.contains(sub_org, case=False, regex=True)
search_query = crawled_news_df.content.str.contains(query, case=False, regex=True)
crawled_news_df = crawled_news_df[search_sub_org & search_query].copy().reset_index(drop=True)

In [7]:
data

                                                 Event
0    2015년 3월 15일 20:35경 포항항 ○○부두에 수출용 파이프 선적을 위해 접...
1    2013년 2월 4일 11:30경 부산항 ○○부두에서 잡화 선적 작업을 수행하던 중...
2    2021. 6. 4.(금) 09:45분경, 인천 서구 소재 00부두 창고에서 25t...
3    2016년 7월 울산 염포부두에서 선박에 열연코일 하역작업을 하기 위해 선수 쪽 본...
4    2017년 2월 울산 염포부두에서 하역작업을 위해 육상 스프레더 와이어로프를 크레인...
..                                                 ...
166  2013년 12월 7일 00:30경 전남 여수시 여수항 D1 정박지에서 유조선 S호...
167  2015년 6월 3일 22:40경 케미컬운반선 L호가 울산 온산항에 접안하여 화물을...
168  묵호→울릉 항로를 운항하는 S호가 2016년 5월 8일 12:55 울릉도 도동항(N...
169  본선에서 발생한 슬러지를 육상으로 양륙하기 위해 육상 탱크로리에 호스를 연결하여 이...
170  부두에서 주기관 정비를 마친 후 출항 준비 중, 주기관의 윤활유 계통의 압력이 비정...

[171 rows x 1 columns]